* {
  box-sizing: border-box;
  margin: 0;
}
.title {
  color: dodgerblue;
  margin: 0;
}
.btn {
  cursor: pointer;
  border: 1px solid silver;
  border-radius: .4rem;
  padding: 10px;
}
.btn:hover {
  background: darkorange;
  color: white;
}
.is-hidden {
  display: none;
}
#tp_node_connect_mysql {
  font-family: Avenir;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px 20px;
}
#title_main {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  padding-left: 20px;
}
#form_btns{
  padding: 0;
}
#form_user {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
#form_user input {
  margin-bottom: 10px;
  height: 32px;
  padding-left: 10px;
}
#list_user  {
  grid-row: 3;
  grid-column: 3 / 4;
  overflow-y: scroll;
  max-height: 35vh;
  list-style: none;
  padding-left: 10px;
}
#list_user .user {
  cursor: pointer;
}
#list_user .user:hover {
    color: darkorange;
}
#list_user .icon {
  margin-left: 10px;
}
#todos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 50vw;
  grid-gap: 13px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
#todos .todo {
  border-bottom: 1px solid silver;
  padding-top: 7px;
  padding: 0 20px 20px;
}
#tp_node_connect_mysql .todo .title {
  margin-bottom: 10px;
}
#form_utils {
  display: grid;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  grid-template-rows: 35px 200px;
  grid-gap: 20px;
}

@media (max-width: 768px) {
  #todos {
    max-width: 100vw;
  }
}
