* {
  box-sizing: border-box;
}
body {
  color: red;
  font-family: Avenir;
}
#home {
  color: green;
  font-style: italic;
}
#nav_main {
  .list {
    list-style: none;
  }
  .item {
    cursor: pointer;
  }
}
