<%- include partial/head.ejs %>

<section id="bill">
  <h1 class="title">Contact</h1>
  <h2 class="title">TP Front</h2>
  <p>
    Coder un formulaire de contact.
  </p>
  <hr>
  <h2 class="title">TP back</h2>
  <p>
    Intégrer la lib nodemailer à l'application.
  </p>
</section>

<%- include partial/footer.ejs %>
